@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:800|Source+Sans+Pro:300,300i,600,600i");

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

.App {
  text-align: center;
}

:root{
  --oxblue: #0a1128;
  --blue: #034078;
  --orange: #fd632b;
  --cerulean: #1282a2;
  --white: #fefcfb;
}

body {
  font-size: 1rem;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background-color: var(--white);
}
.wrapper-side{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr max-content;
  grid-template-columns: 225px 1fr;
}
aside{
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 100%;
  background-image: url("../public/images/pexels_test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 200px;
}
main{
  width: 100%;
}
main h1{
  margin: auto;
  color: var(--oxblue);
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
footer{
  grid-row: -1/-2;
  text-align: right;
  padding: 0.2rem;
}
.wrapper{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr max-content;
  grid-template-columns: 1fr;
}

form {
  max-width: 300px;
  display: grid;
  grid-gap: 0.5rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

form input[type=submit] {
  margin-top: 0.7rem;
}
form input:not(input[type=submit]) {
  grid-column: 1/-1;
  width: 100%;
  margin: auto;
  height: 3rem;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.5px solid gray;
}

.signup-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

/*buttons*/
a:hover, input[type=submit]:hover, .logout-btn:hover {
  background-color: var(--cerulean);
} 
a:active, input[type=submit]:active, .logout-btn:active {
  background-color: var(--orange);
}
a, input[type=submit], .logout-btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 14px 28px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  margin: 10px;
}
.profile{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-gap: 1rem;
}
.profile img{
  border-radius: 100%;
  justify-self: center;
}
.profile a, .profile button{
 margin-left: 0px;
}
.sidebyside{
  display: grid;
  grid-template-columns: 2fr 200px;
  padding: 2rem;  
}
@media screen and (max-width: 720px) {
  .wrapper-side{
      grid-template-columns: 1fr;
  }
  aside{
      display: none;
  }
}
@media screen and (max-width: 600px) {
  .sidebyside{
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
  }
}
@media screen and (max-height: 600px){
  header{
      display: none;
  }
}
/* GOOGLE BUTTON */
.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

